body
{
    text-align: center;
    background-color: black;
    color: brown;
    font-size: 50px;
    text-transform: uppercase;
    font-family: cursive;
    font-weight: bold;
}

.hangman
{
    font-size: 100px;
    color: rgb(69, 160, 166);
}

p
{
    color: whitesmoke;
    font-size: 50px;
}

.hangman_image
{
    width:350px;
    height:300px;
}

a img
{
    width:500px;
    height:200px;
}